.sidebar{
  position:fixed;
  left:0;
  bottom:0;
  top:2px;
  width:72px;
  top:55px;
  background-color:white;
  z-index:200;
  padding-top:5px;
}

.sidebar-link{
 
  height:74px;
  display:flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
 
  
}
.sidebar-link:hover{
  background-color:lightgray;

}
.sidebar img{
  height:24px;
  margin-bottom: 3px;
}

.sidebar div{
   font-size:10px;
   font-family:Roboto,Arial;

}